<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
<h1> Local Room Temperature Graph </h1>    
<p> <img src="{{url_for('static', filename='thermister_graph.png')}}"></p>

<form method="POST" action="/temperature"> Zip Code : <input type="text" name="zip">
    </form>
<h1> The current Temperature Outside (F) is : {{ temp }} degrees. </h1>
</body>
</html>
